body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

input {
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

img, video {
  margin-top: 20px;
  border-radius: 10px;
}
