body {
  background: #111;
  color: #fff;
  font-family: Arial;
  text-align: center;
  padding: 30px;
}

.box {
  margin-bottom: 20px;
}

input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

img {
  margin-top: 20px;
}
